[package]
name = "smithay-clipboard"
version = "0.4.0"
authors = ["Lucas Timmins <timmins.s.lucas@gmail.com>", "Victor Berger <victor.berger@m4x.org>"]
edition = "2018"
description = "Provides access to the wayland clipboard for client applications."
repository = "https://github.com/smithay/smithay-clipboard"
documentation = "https://smithay.github.io/smithay-clipboard"
license = "MIT"
keywords = ["clipboard", "wayland"]

[dependencies]
sctk = { package = "smithay-client-toolkit", version = "0.6.1" }
nix = "0.14.1"

[dev-dependencies]
andrew = "0.2"
